.navBurger {
  position: fixed;
  right: 90px;
  top: 48px;
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-clip: content-box;
  width: 50px;
  height: 24px;
  border-top: 11px solid transparent;
  border-bottom: 11px solid transparent;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.affix .navBurger:before, .affix .navBurger:after, .affix .navBurger.active:before, .affix .navBurger.active:after {
  background: #303030;
}
.navBurger:before, .navBurger:after {
  content: "";
  position: absolute;
  background: #fff;
  height: 2px;
  width: 100%;
  right: 0;
  will-change: rotate;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.navBurger:before {
  top: -10px;
}
.navBurger.active {
  background: transparent;
  background-clip: content-box;
  top: 43px;
}
.navBurger.active:before {
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  top: 0;
  background: #fff;
}
.navBurger.active:after {
  bottom: 0;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  background: #fff;
}
.overlay {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(50px);
  top: 110px;
  right: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  -webkit-transform-origin: right top;
          transform-origin: right top;
  -webkit-transform: scale(0);
          transform: scale(0);
  visibility: hidden;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
}
.overlay.open {
  opacity: .99;
  visibility: visible;
  -webkit-transform: scale(1);
          transform: scale(1);
}
.overlay.open li {
  display: block;
  -webkit-animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
          animation: fadeInRight 0.4s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
  -webkit-animation-delay: .4s;
          animation-delay: .4s;
  -webkit-transform: rotate(-7deg);
          transform: rotate(-7deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}
.overlay.open li:nth-of-type(2) {
  -webkit-animation-delay: .5s;
          animation-delay: .5s;
}
.overlay.open li:nth-of-type(3) {
  -webkit-animation-delay: .6s;
          animation-delay: .6s;
}
.overlay.open li:nth-of-type(4) {
  -webkit-animation-delay: .7s;
          animation-delay: .7s;
}
.overlay.open li:nth-of-type(5) {
  -webkit-animation-delay: .8s;
          animation-delay: .8s;
}

.overlayMenu {
  position:relative;
  top:10%;  
  text-align: center;
}
.overlayMenu ul {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  display: block;
  position: relative;
  height: 100%;
}
.overlayMenu ul li {
  display: block;
  position: relative;
  opacity: 0;
  width: 100%;
}
.overlayMenu ul li a {
  display: inline-block;
  color: #303030;
  text-decoration: none;
  font-size: 30px;
  padding: 10px 40px;
  margin: 5px 0;
  -webkit-transition: .2s;
  transition: .2s;
  font-family: 'Museo Sans Cyrl 700', sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 50px;
  line-height: 60px;
}
.overlayMenu ul li a:hover, .overlayMenu ul li a:active, .overlayMenu ul li a:focus {
  -webkit-transform: translateX(-2px);
          transform: translateX(-2px);
  padding-left: 80px;
  padding-right: 80px;
  outline: 1px solid rgba(0, 0, 0, 0.3);
}

.locked {
  overflow: hidden;
}

@-webkit-keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fadeInRight {
  0% {
    opacity: 0;
    left: 50px;
  }
  100% {
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

/* Адаптивная верстка меню */
@media (max-width: 991px) and (min-width: 768px) {
.navBurger {
  position: fixed;
  right: 30px;
     }
}
  
@media (max-width: 767px) {
   .overlayMenu ul li a {
	   font-size: 20px;
	   line-height: 24px;
	   padding: 5px 20px;
       margin: 5px 0;
   }
   .overlay {
   top: 59px;
   }
   .navBurger {
  width: 35px;
  right: 15px;
  top: 23px;
}
.navBurger.active {
  top: 20px;
}
}
























